body {
  text-align: center;
  font-size: 25px;
  cursor: wait;
}

.color1 {
  font-size: 35px;
}

.label1 {
  padding-left: 50px;
  padding-right: 50px:
}

.form-group{
  padding-left: 300px;
  padding-right: 300px;
}

{
  padding-left: 300px;
  padding-right: 300px;
}
